{% comment %}
	The default layout for the site, which is extended by all other layouts.
	Includes the document <head>, main navigation and page footer
{% endcomment %}

{% include head.html %}
{% include sidebar.html %}

      <!-- Home Content -->
        <div id="content" class="site-content">
            <div id="blog-wrapper">
                <div class="blog-holder center-relative">
{% comment %}
	Any layout that extends this layout will have its contents
	added as the content variable
{% endcomment %}

{{ content }}
</div></div></div>


{% include footer.html %}